.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.video-table th {
  color: #1361af;
  font-size: larger;
}

.table-row {
  background-color:
    #f7941d;
}

.table-row:hover {
  background-color:
    #cc681e;
}

.table-data {
  height: 40px;
  justify-content: space-between;
  padding: 18px;
  font-size: large;
}

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: fixed;
  left: 0;
  top: 10%;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.modalShowing-true {
  opacity: 1;
  pointer-events: auto ;
}

.modalInner {
  background: #1e2939;
  width: 600px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: flex;
  flex-direction: row;
  color: white;
  text-align: left;
  padding: 20px 50px 20px 20px;
  /* overflow: auto; */
}

.modalText {
  padding: 15px;
  text-align: center;
}

.modalText p {
  font-size: small;
  text-align: left;
}

.exitButton {
  padding: 15px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:
    #1361af;
}

span {
  border: white 1px 1px;
}

.modalTimestamp {
  display: flex;
  justify-content: space-between;
}